Flask==2.2.2
gunicorn==20.1.0
python-dotenv==0.21.0
boto3==1.26.50
# Necessario adicionar no requirements.txt setuptools<70 para compatibilidade
setuptools<70

# Necessario para evitar incompatibilidade com o Flask antigo
Werkzeug<3.0.0